<template>
<div class="contenedor">
    <div class="contenedorImagen">
        <div class="contenedorImagenOverlay">
            <div class="rowInner">
                <div class="rowQuarter navDetalles">
                    <div class="colQuarter back">
                    </div>
                    <div class="colHalf">
                    </div>
                    <div class="colQuarter delete">
                    </div>
                </div>
                <div class="rowTall contentBlanco">
                    <div class="rowInner">
                        <span>Nombre de la tarea</span>
                    </div>
                </div>
                <div class="rowTall">
                    <div class="colHalf contentBlanco">
                        <div class="rowInner">
                            <span>Fecha Inicio</span>
                        </div>
                    </div>
                    <div class="colHalf contentBlanco">
                        <div class="rowInner">
                            <span>Fecha Fin</span>
                        </div>
                    </div>
                </div>
                <div class="rowTall">
                    <div class="colHalf contentBlanco">
                        <div class="rowInner">
                            <span>Dias de notificacion</span>
                        </div>
                    </div>
                    <div class="colHalf contentBlanco">
                        <div class="rowInner">
                            <span>Hora de notificación</span>
                        </div>
                    </div>

                </div>
                
                   
              
                
                
                
            </div>
        </div>
    </div>
    <div class="contenedorEditar">
        <div class="rowHalf">
            <span>Descripcion de la tarea Descripcion de la tarea Descripcion de la tarea Descripcion de la tarea Descripcion de la tarea Descripcion de la tarea </span>            
        </div>
        <div class="rowHalf">
            <div class="btnEditar">Editar</div>
        </div>
        
    </div>
</div>
    
</template>
<script>
export default {
    
}
</script>
<style>
@import '../css/grid2.css';
.contenedor
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.contenedorImagen
{
    width: 100%;
    height: 70%;
    background: url('../assets/img/hab4.jpg') no-repeat center center;
    background-size: 100% auto;
}
.contenedorEditar
{
    width: 100%;
    height: 30%;
    background: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    padding: 15pt;
}
.contenedorImagenOverlay
{
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.btnEditar
{
    width: 60%;
    height: 20pt;
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
    border-radius: 3pt;
    background: #d7b9bb;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}
.navDetalles
{
    width: 100%;
    height: 35pt;
}
.back
{
    background: url('../assets/iconos/back.png') no-repeat;
    background-size: 15% auto;
    background-position: 10pt center;
}
.delete
{
    background: url('../assets/iconos/delete.png') no-repeat;
    background-size: 20% auto;
    background-position: 80% center;
}

</style>
