<template>
     <div class="contenedor">
    <md-toolbar class="md-primary">
      <md-button class="md-icon-button" @click="showNavigation = true">
        <md-icon>menu</md-icon>
      </md-button>
      <span class="md-title">My Title</span>    
    </md-toolbar>

    <md-drawer :md-active.sync="showNavigation">
      <md-toolbar class="md-transparent" md-elevation="0">
        <span class="md-title">8va Planner</span>
      </md-toolbar>

      <md-list>
        <md-list-item>
          <md-icon>list_alt</md-icon>
          <span class="md-list-item-text md-active">Habitos</span>
        </md-list-item>

        <md-list-item>
          <md-icon>watch_later</md-icon>
          <span class="md-list-item-text">Temporizador</span>
        </md-list-item>

        <md-list-item>
          <md-icon>bar_chart</md-icon>
          <span class="md-list-item-text">Resumen de habitos</span>
        </md-list-item>

        <md-list-item>
          <md-icon>person</md-icon>
          <span class="md-list-item-text">Mi perfil</span>
        </md-list-item>

        <md-list-item>
          <md-icon>arrow_back</md-icon>
          <span class="md-list-item-text">Cerrar Sesión</span>
        </md-list-item>
      </md-list>
    </md-drawer>

    <div class="contenedorBtn">
        <md-button class="md-fab" id="btnAgregarHabito">
            <md-icon>add</md-icon>
        </md-button>
    </div>

    <div class="contendorHabitos">
        <div class="cardView habito" v-for="habito in habitos">
        <div class="habitoItem">
          <div class="rowInner">
            <span>
              <h5>{{ habito.nombre }}</h5>
              <p>{{ habito.fechaInicio }}</p>
            </span>
          </div>
        </div>
        <div class="habitoOverlay" v-on:click="cardviewClick"></div>
        <div class="btnCumplido" v-on:click="btnCumplidoClick"></div>
      </div>

      
        

    </div>

    
  
  </div>

</template>
<script>
export default {
    name: 'Temporary',
    data: () => ({
      showNavigation: false,
      showSidepanel: false,
      habitos:
      [
        {
          idTarea: '1',
          nombre: 'Habito 1',
          fechaInicio: '15-04-2019'
          
        },
        {
          idTarea: '1',
          nombre: 'Habito 2',
          fechaInicio: '15-04-2019'
         
        },
        {
          idTarea: '1',
          nombre: 'Habito 3',
          fechaInicio: '15-04-2019'
          
        }
      ],
      visible: false
    }),
    methods: 
    {
      cardviewClick: function()
      {
        console.log("Click al CARDVIEW");
        
      },
      btnCumplidoClick: function(event)
      {
        
          event.target.classList.add('habitoCumplido'); 
          this.visible = true;
        
      }
    }
    
}
</script>
<style scoped>
.page-container {
    min-height: 300px;
    overflow: hidden;
    position: relative;
    border: 1px solid rgba(#000, .12);
  }

 
  .md-drawer {
    width: 230px;
    max-width: calc(100vw - 125px);
  }

  .md-content {
    padding: 16px;
  }

  .contendorHabitos
  {
    width: 100%;
    height: auto;
    padding: 10pt 0;
    min-height: 100pt;
  }
  .contenedorBtn
  {
      position: fixed;
      bottom: 10%;
      right: 0;
      z-index: 3;
  }

  .cardView
  {
    width: 100%;
    height: 75pt;
    background: #fff;
    margin: 5pt auto;
    box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.15);

  }
  .contenedorBtn
  {
      position: fixed;
      bottom: 10%;
      right: 0;
      z-index: 3;
  }
  .habito
  {
    width: 97%;    
    background-color: #fff;
   
  }
  .habitoItem
  {
    width: 80%;
    height: 100%;
    float: left;
    margin-left: 20pt;
  }
  .habitoOverlay
  {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .btnCumplido
  {
    position: relative;
    width: 20%;
    height: 100%;
    background: url('../assets/iconos/starN.png') no-repeat;
    background-size: 15pt auto;
    background-position: 70% center;
    top: -100%;
    left: 80%;
    z-index: 2;
    cursor: pointer;
  }
  .habitoCumplido 
  {
    background: url('../assets/iconos/starA.png') no-repeat;
    background-size: 15pt auto;
    background-position: 70% center;
  }
  .habitoNoCumplido
  {
    background: url('../assets/iconos/starN.png') no-repeat;
    background-size: 15pt auto;
    background-position: 70% center;
  }
  .rowInner
  {
    width: 100%;
    height: 100%;
    display: table;

  }
  .rowInner span
  {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
  }
  .rowInner span p, .rowInner span h5
  {
    margin: 0;
  }
  

</style>
