<template lang="html">
  <div class="loginContenedor">
    <div class="loginDer">

        <div class="contenedorLogo">
        </div>
      <h4>Entra a tu cuenta</h4>

      <form class="" action="" method="post">
        <input type="text" name="" value="" placeholder="Email o whatsapp">

        <input type="password" name="" value="" placeholder="Contraseña">

        <button type="button" class="btnLogin" name="button">Iniciar sesión</button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css">
.borderRight
{
  border-right: 1px solid #fff;
}
.contenedorLogo
{
    width: 40%;
    height: 60pt;
    background: url('../assets/logos/logo2.png') no-repeat center center;
    background-size: auto 100%;
}
.menuLateral
{
  display: none;
}
.btnLogin
{
  position: absolute;
  width: 40%;
  height: 30pt;
  left: 30%;
  top: 70%;
  background: #d7b9bb;
  display: table;
  color: #fff;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  font-size: 12pt;
  box-sizing: border-box;
}
.loginContenedor
{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 110pt 10%;
  box-sizing: border-box;
  color: #d7b9bb;
}
.loginDer
{
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  padding: 20pt;
  box-sizing: border-box;
}
.loginDer input
{
  width: 75%;
  height: 35pt;
  border: none;
  border-bottom: 1px solid #d7b9bb;
  display: block;
  background: none;
  color: #d7b9bb;
  margin: 0 auto;
}
.loginDer input::placeholder
{
  color: rgba(0, 0, 0, 0.5);
}
</style>
