<template>
  <div class="contenedor">
    <md-toolbar class="md-primary">
      <md-button class="md-icon-button" @click="showNavigation = true">
        <md-icon>menu</md-icon>
      </md-button>
      <span class="md-title">My Title</span>

    
    </md-toolbar>

    <md-drawer :md-active.sync="showNavigation">
      <md-toolbar class="md-transparent" md-elevation="0">
        <span class="md-title">8va Planner</span>
      </md-toolbar>

      <md-list>
        <md-list-item>
          <md-icon>list_alt</md-icon>
          <span class="md-list-item-text">Habitos</span>
        </md-list-item>

        <md-list-item>
          <md-icon>watch_later</md-icon>
          <span class="md-list-item-text">Temporizador</span>
        </md-list-item>

        <md-list-item>
          <md-icon>bar_chart</md-icon>
          <span class="md-list-item-text">Resumen de habitos</span>
        </md-list-item>

        <md-list-item>
          <md-icon>person</md-icon>
          <span class="md-list-item-text">Mi perfil</span>
        </md-list-item>

        <md-list-item>
          <md-icon>arrow_back</md-icon>
          <span class="md-list-item-text">Cerrar Sesión</span>
        </md-list-item>
      </md-list>
    </md-drawer>

    <div class="contenedorBtn">
        <md-button class="md-fab" id="btnAgregarHabito">
            <md-icon>add</md-icon>
        </md-button>
    </div>

    <DraggableCal />

    <section class="contenedorTareas">

    <div class="notMobile" v-if="!$store.state.isMobile">
      <div class="rowInner">
        <span>
          <h1>Por favor accesa a este sitio mediante un dispositivo móvil</h1>
        </span>
       </div>
    </div>
      
      <div class="cardView tarea" v-for="tarea in tareas">
        <div class="tareaItemIzq">
          <img class="tareaItemImg" :src="require('@/assets/iconos/' + tarea.img)">
        </div>
        <div class="tareaItemDer">
          <div class="rowInner">
            <span>
              <h5>{{ tarea.nombre }}</h5>
              <p>{{ tarea.fechaInicio }}</p>
              <p>{{ tarea.fechaFin }}</p>
            </span>
          </div>
        </div>
      </div>

    </section>

    


    


   
  </div>
</template>

<script>
import DraggableCal from 'vue-draggable-cal';

  export default {
    components: 
    {
        DraggableCal
    },
    name: 'Temporary',
    data: () => ({
      showNavigation: false,
      showSidepanel: false,
      tareas:
      [
        {
          idTarea: '1',
          nombre: 'Tarea 1',
          fechaInicio: '15-04-2019',
          fechaFin: '18-04-2019',
          img: 'laptop.png'
        },
        {
          idTarea: '1',
          nombre: 'Tarea 2',
          fechaInicio: '15-04-2019',
          fechaFin: '18-04-2019',
          img: 'alarm.png'
        },
        {
          idTarea: '1',
          nombre: 'Tarea 3',
          fechaInicio: '15-04-2019',
          fechaFin: '18-04-2019',
          img: 'alarm.png'
        }
      ]
    }),
    mounted: function()
  {
    this.$store.commit('checkMobile');
  }
   
  }
</script>

<style scoped>

.notMobile
{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 1000;
}
.notMobile span
{
  color: #5d73fa;
}

  .page-container {
    min-height: 300px;
    overflow: hidden;
    position: relative;
    border: 1px solid rgba(#000, .12);
  }

 
  .md-drawer {
    width: 230px;
    max-width: calc(100vw - 125px);
  }

  .md-content {
    padding: 16px;
  }

  .contenedorTareas
  {
    width: 100%;
    height: auto;
    padding: 10pt 0;
    min-height: 100pt;
  }
  .cardView
  {
    width: 100%;
    height: 55pt;
    background: #fff;
    margin: 0 auto;

  }
  .contenedorBtn
  {
      position: fixed;
      bottom: 10%;
      right: 0;
      z-index: 3;
  }
  .tarea
  {
    width: 97%;
    background: url('../assets/iconos/rightArrow.png') no-repeat right center;
    background-size: 15pt auto;
    background-color: #fff;
  }
  .tareaItemIzq
  {
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
  }
  .tareaItemDer
  {
    width: 80%;
    height: 100%;
    float: left;
  }
  .tareaItemImg
  {
    width: auto;
    height: 40pt;
    margin: 0 auto;
    margin-top: 9.5pt;
  }
  .rowInner
  {
    width: 100%;
    height: 100%;
    display: table;

  }
  .rowInner span
  {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    color: #888;
  }
  .rowInner span p, .rowInner span h5
  {
    margin: 0;
  }
  
</style>