<template lang="html">
  <nav class="menuInferior">

    <div class="rowFifth">
      <div class="opcMenuInferior opc1"></div>
    </div>
    <div class="rowFifth">
      <div class="opcMenuInferior opc2"></div>
    </div>
    <div class="rowFifth">
      <div class="opcMenuInferior opc3"></div>
    </div>
    <div class="rowFifth">
      <div class="opcMenuInferior opc4"></div>
    </div>
    <div class="rowFifth">
      <div class="opcMenuInferior opc5"></div>
    </div>

  </nav>
</template>

<script>
export default {
}
</script>

<style lang="css" scoped>
.menuInferior
{
  position: fixed;
  width: 100%;
  height: 40pt;
  bottom: 0;
  left: 0;
  background: #fff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.15);
  z-index: 10;
  box-sizing: border-box;
}
.opcMenuInferior
{
  width: 50%;
  height: 50%;
  margin: 0 auto;
  margin-top: 20%;
 
}
.rowFifth
{
  width: 20%;
  height: 100%;
  float: left;
  box-sizing: border-box;
}
.opc1 
{
  background: url('../assets/inferior/calendar.png') no-repeat center center;
  background-size: auto 80%;
}
.opc2 
{
  background: url('../assets/inferior/youtube.png') no-repeat center center;
  background-size: auto 80%;
}
.opc3 
{
  background: url('../assets/inferior/gallery.png') no-repeat center center;
  background-size: auto 80%;
}
.opc4 
{
  background: url('../assets/inferior/chat.png') no-repeat center center;
  background-size: auto 80%;
}
.opc5 
{
  background: url('../assets/inferior/shop.png') no-repeat center center;
  background-size: auto 80%;
}
</style>
