<template>
<div class="contenedor">
    <div class="contenedorImg">
        <div class="rowQuarter navDetalles">
            <div class="colQuarter back">
            </div>
            <div class="colHalf">
            </div>
            <div class="colQuarter delete">
            </div>
        </div>
    </div>
    <div class="contenedorFormulario">

        <input type="text" placeholder="Nombre de la tarea" name="" id="" class="inputNuevaTarea">
        <button class="inputNuevaTarea">Fecha inicio</button>
        <button class="inputNuevaTarea">Fecha Fin</button>
        <textarea name="" id="" cols="30" rows="10" placeholder="Descripcion de tu tarea"></textarea>
        
        <button id="btnGuardarTarea">GUARDAR</button>

    </div>

    <div class="panelAgendar">
        <div class="panelAgendarInner">
            <div class="rowHalf">
                <div class="rowInner">
                    <span>
                        <date-pick v-model="date" :hasInputElement="false"></date-pick>
                    </span>
                </div>
            </div>
            <div class="rowHalf">
                <div class="rowInner">
                    <span>
                            <vue-clock-picker mode="24" :defaultHour="defaultHour" :defaultMinute="defaultMinute" :defaultFocused="true" :onTimeChange="horaEstablecida"></vue-clock-picker>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>
    
</template>
<script>
import DatePick from 'vue-date-pick';
import 'vue-date-pick/dist/vueDatePick.css';
import VueClockPicker from 'vue-clock-picker';

export default {
components:
{
  DatePick,
  VueClockPicker
},
data: function() {
  return {
    date: '2019-03-25',

defaultHour:new Date().getHours(),

defaultMinute:new Date().getMinutes()

  }
}
    
}
</script>
<style scoped>
@import '../css/grid2.css';

.contenedorImg
{
    width: 100%;
    height: 180pt;
    background: url('../assets/img/img6.jpg') no-repeat center center;
    background-size: 100% auto;
    /*background: #d7b9bb;*/
}
.contenedorFormulario
{
    width: 80%;
    height: auto;
    min-height: 200pt;
    background: #fff;
    z-index: 2;
    margin: 0 auto;
    margin-top: -50pt;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);   
    text-align: center;
    padding: 20pt;
    box-sizing: border-box;
}
.inputNuevaTarea
{
    width: 100%;
    height: 30pt;
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
    background: #fff;
    box-sizing: border-box;
    margin-bottom: 10pt;
}
.contenedorFormulario button
{
    text-align: left;
    color: #767676;
}
.contenedorFormulario textarea
{
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 10pt;
    resize: none;
    box-sizing: border-box;
}
#btnGuardarTarea
{
    width: 60%;
    height: 20pt;
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
    border-radius: 3pt;
    background: #d7b9bb;
    box-sizing: border-box;
    margin-top: 10pt;
    margin-bottom: 10pt;
    text-align: center;
    color: #fff;
}
.panelAgendar 
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}
.panelAgendarInner 
{
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
}
.navDetalles
{
    width: 100%;
    height: 35pt;
}
.back
{
    background: url('../assets/iconos/back.png') no-repeat;
    background-size: 15% auto;
    background-position: 10pt center;
}
.delete
{
    background: url('../assets/iconos/delete.png') no-repeat;
    background-size: 20% auto;
    background-position: 80% center;
}
</style>
