<template>
<div class="contenedorPrincipal">
    <div class="rowQuarter navDetalles">
        <div class="colQuarter back">
        </div>
        <div class="colHalf">
        </div>
        <div class="colQuarter delete">
        </div>
    </div>

    <div class="contenedorTemp">
        <div class="temp rowInner">
            <span> 12: 35</span>
        </div>

        <div class="rowTall">
            <div class="colQuarter"></div>
            <div class="colHalf">
                <div id="play" class="play" v-on:click="pause"></div>
                <div class="reload"></div>
            </div>
            <div class="rowQuarter"></div>
            
        </div>

    </div>

    <div class="cardView tarea">
        <div class="tareaItemIzq">
          <img class="tareaItemImg">
        </div>
        <div class="tareaItemDer">
          <div class="rowInner">
            <span>
              <h5>Nombre</h5>
              <p>Fecha inicio</p>
              <p>Fecha fin</p>
            </span>
          </div>
        </div>
    </div>
</div>
    
</template>
<script>
export default {

data: function() 
{
    return 
    {

    }
},
methods:
{
    pause: function()
    {   
        document.getElementById('play').classList.add("activePlay");
    }
}

    
}
</script>
<style>
@import '../css/grid2.css';
.contenedorPrincipal
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.navDetalles
{
    width: 100%;
    height: 35pt;
    background: #d7b9bb;
}
.back
{
    background: url('../assets/iconos/back.png') no-repeat;
    background-size: 15% auto;
    background-position: 10pt center;
}
.delete
{
    background: url('../assets/iconos/delete.png') no-repeat;
    background-size: 20% auto;
    background-position: 80% center;
}
.contenedorTemp
{
    width: 100%;
    height: auto;
    top: 0;
 
}
.temp
{
    width: 180pt;
    height: 180pt;
    border-radius: 100%;
    background: #fff;
    border: 1px solid #ccc;
    margin: 0 auto;
    box-sizing: border-box;

}
.temp span
{
    font-size: 50pt;
}
.play
{
    width: 50%;
    height: 100%;
    background: url('../assets/iconos/play.png') no-repeat center center;
    background-size: 30% auto;
    float: left;
}
.activePlay
{
     width: 50%;
    height: 100%;
    background: url('../assets/iconos/activePlay.png') no-repeat center center;
    background-size: 30% auto;
    float: left;
}
.reload
{
    width: 50%;
    height: 100%;
    background: url('../assets/iconos/reload.png') no-repeat center center;
    background-size: 30% auto;
    float: left;
}

.cardView
  {
    width: 100%;
    height: 55pt;
    background: red;
    margin: 0 auto;

  }
  .contenedorBtn
  {
      position: fixed;
      bottom: 10%;
      right: 0;
      z-index: 3;
  }
  .tarea
  {
    width: 97%;
    background: url('../assets/iconos/rightArrow.png') no-repeat right center;
    background-size: 15pt auto;
    background-color: #fff;
  }
  .tareaItemIzq
  {
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
  }
  .tareaItemDer
  {
    width: 80%;
    height: 100%;
    float: left;
  }
  .tareaItemImg
  {
    width: auto;
    height: 40pt;
    margin: 0 auto;
    margin-top: 9.5pt;
  }
</style>
