<template>
<div>
   <iframe src="https://www.w3schools.com"></iframe>
</div>
    
</template>
<script>


export default {
    components: 
    { 
       
    },
    data () 
    {
        return { /*...*/ }
    },
    methods: { /*...*/ }    
}
</script>
<style>

</style>
