<template>
<div class="conteniedorYotube">
    <youtube video-id="3vIJQ8BPppk" ref="youtube"></youtube>
</div>

    
</template>
<script>
import Vue from 'vue'
import VueYoutube from 'vue-youtube'
 
Vue.use(VueYoutube)


export default {
    methods: {
    playVideo() {
      this.$refs.youtube.player.playVideo()
    }
  }
  
    
}
</script>
<style>
.conteniedorYotube
{
    width: 100%;
    height: 50%;
}

.conteniedorYotube youtube
{
    width: 100%;
    height: 100%;
}

</style>
