<template>
    <iframe src="https://www.youtube.com" frameborder="0"></iframe>    
</template>
<script>
import Vue from 'vue';
import VueFriendlyIframe from 'vue-friendly-iframe';

Vue.component('vue-friendly-iframe', VueFriendlyIframe);
export default {
    
}
</script>
<style>

</style>
