.contenedor
{
  position: absolute;
  width: 82%;
  height: auto;
  top: 0;
  left: 18%;
  min-height: 100%;
  background: #fff;
  padding: 20pt 80pt 20pt 20pt;
  box-sizing: border-box;
}


.tituloSeccion
{
  width: calc(100% - 10pt);
  height: 40pt;
  display: table;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20pt;
}
.tituloSeccion span
{
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  color: #5d73fa;
  font-family: UbuntuB;
  font-size: 13pt;
}
.borderBottom
{
  border-bottom: 1px solid #ccc;
}
.rowSmall
{
  width: 100%;
  height: 10pt;
  box-sizing: border-box;
}
.rowMedium
{
  width: 100%;
  height: 20pt;
  box-sizing: border-box;
}
.rowBig
{
  width: 100%;
  height: 120pt;
  box-sizing: border-box;
}
.rowExtra
{
  width: 100%;
  height: 200pt;
  box-sizing: border-box;
}
.rowInner
{
  width: 100%;
  height: 100%;
  display: table;
}
.rowInner span
{
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  color: #555;
  font-family: UbuntuR;
  font-size: 10pt;
}
.rowHalf
{
  width: 100%;
  height: 50%;
}
.rowThird
{
  width: 100%;
  height: 33.2%;
}
.rowQuarter
{
  width: 100%;
  height: 25%;
}
.row75
{
  width: 100%;
  height: 75%;
}
.colHalf
{
  width: 50%;
  height: 100%;
  float: left;
}
.colThird
{
  width: 33.2%;
  height: 100%;
  float: left;
}
.colQuarter
{
  width: 25%;
  height: 100%;
  float: left;
}
.col75
{
  width: 75%;
  height: 100%;
  float: left;
}
.widthHalf
{
  width: 50%;

}
.widthThird
{
  width: 33.2%;
}
.contentTop span
{
  vertical-align: top;
}
.contentBottom span
{
  vertical-align: bottom;
}
.contentRight span
{
  text-align: right;
}
.contentBlueHT span
{
  color: #5d73fa;
}
.paddingLeft
{
  padding-left: 10pt;
  box-sizing: border-box;
}
